<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{css/discussion.css}">
    <link rel="icon" href="../img/coeurlogo.png"/>
    <title>Discussion</title>
</head>
<body>
<div>$picture</div>
<div class="first-message">
    <p class="first-message-color">Salut belle gosse
        <br>Ton père est un voleur, il a piqué toutes les étoiles du ciel pour les mettre dans tes yeux ;)</p>
</div>
<div class="second-message">
    <p class="second-message-color">Waw, toujours plus pourrie l’introduction, tu me rappelles une succube que j’ai
        connu aux alentours de Venise il y a quelques siècles.</p>
</div>
<div class="third-message">
    <p class="third-message-color">Hey bébé
        <br>J’ai peut être pas de talent littéraire mais laisse moi me joindre à toi dans ton cercueil et tu changeras
        vite d’avis, j’ai des talents plus... organiques.</p>
</div>
</body>
</html>