<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{../css/inscription.css}">
    <link rel="icon" href="../img/coeurlogo.png"/>
    <title>Monster - Inscription</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
</head>
<body>
<div class="block">
    <header class="header">
        <a th:href="@{http://localhost:8080/catalogue/{id}(id=${monsterInfos.id})}"><img class="heart-logo-image"
                                                                                         src="../img/coeurlogo.png"
                                                                                         alt="logo heart"></a>
        <a th:href="@{http://localhost:8080/account/{id}(id=${monsterInfos.id})}"><img class="header-logo-avatar"
                                                                                       src="../icons/icons8-purple-man-96.png"
                                                                                       alt="logo avatar"></a>
        <a th:href="@{http://localhost:8080/listmatch/{id}(id=${monsterInfos.id})}"><img class="header-logo-courier"
                                                                                         src="../icons/icons8-message-chat-100.png"
                                                                                         alt="logo courier"></a>
    </header>
</div>
<div class="index">
    <div class="index-title">
        <p class="title-text1">Inscription</p>
    </div>
</div>
<div class="field">
    <label class="label">Name</label>
    <div class="control">
        <input class="input" type="text" placeholder="name">
    </div>
</div>

<div class="field">
    <label class="label">Username</label>
    <div class="control">
        <input class="input" type="text" placeholder="username">
        <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
        <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
    </div>
</div>

<div class="field">
    <label class="label">Email</label>
    <div class="control">
        <input class="input is-success" type="email" placeholder="email">
        <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
        <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="checkbox">
            <input type="checkbox">
            I agree to the <a href="#">terms and conditions</a>
        </label>
    </div>
</div>
<div class="block">
    <div class="field is-grouped">
        <div class="control">
            <a th:href="@{http://localhost:8080/catalogue/{id}(id=${monsterInfos.id})}"><button class="button is-link">Submit</button></a>
        </div>
        <div class="control">
            <a th:href="@{http://localhost:8080/}"><button class="button is-link is-light">Cancel</button></a>
        </div>
    </div>
</div>
</body>
</html>