<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{css/account.css}">
    <link rel="icon" href="../img/coeurlogo.png" />
    <title>Monster - Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
</head>
<body>
<div class="block">
    <header class="header">
        <a href="#"><img class="heart-logo-image" src="../img/coeurlogo.png" alt="logo heart"></a>
        <a href="#"><img class="header-logo-avatar" src="../icons/icons8-purple-man-96.png" alt="logo avatar"></a>
        <a href="#"><img class="header-logo-courier" src="../icons/icons8-message-chat-100.png" alt="logo courier"></a>
    </header>
</div>
<div class="block">
    <div class="container">
        <img class="avatar-description" src="../icons/icons8-purple-man-96.png">
    </div>
</div>
<div class="block">
    <div class="container">
        <div class="tile">
            <article class="tile is-child notification is-info has-background-danger">
                <p class="subtitle">Descriptionnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn</p>
                <p class="subtitle">Descriptionnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn</p>
            </article>
        </div>
    </div>
</div>
<div class="buttons">
    <button class="button is-info">Déconnexion</button>
    <button class="button is-warning">Modifier profil</button>
</div>
</body>
</html>