<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{../css/match.css}">
    <link rel="icon" href="../img/coeurlogo.png"/>
    <title>Monster - Match</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
</head>
<body>
<div class="block">
    <header class="header">
        <a th:href="@{http://localhost:8080/catalogue/{id}(id=${monsterInfos.id})}"><img class="heart-logo-image"
                                                                                         src="../img/coeurlogo.png"
                                                                                         alt="logo heart"></a>
        <a th:href="@{http://localhost:8080/account/{id}(id=${monsterInfos.id})}"><img class="header-logo-avatar"
                                                                                       src="../icons/icons8-purple-man-96.png"
                                                                                       alt="logo avatar"></a>
        <a th:href="@{http://localhost:8080/listmatch/{id}(id=${monsterInfos.id})}"><img class="header-logo-courier"
                                                                                         src="../icons/icons8-message-chat-100.png"
                                                                                         alt="logo courier"></a>
    </header>
</div>
<div class="container">
    <div class="tile is-ancestor">
        <div class="tile is-4 is-vertical is-parent">
            <div id="tile" class="tile is-child ">
                <img class="img_size" th:src="${monsterInfos.picture}"/>
                <span class="span">MATCH</span>
            </div>
        </div>
    </div>
</div>
<div class="buttons">
    <a th:href="@{http://localhost:8080/discussion/{id}(id=${monsterInfos.id})}">
        <button class="button is-danger is-large is-fullwidth">Commencez une conversation</button>
        <a>
</div>
</body>
</html>