<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{css/profile.css}">
    <link rel="icon" href="../img/coeurlogo.png" />
    <title>Monster - Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
</head>
<body>
<div class="block">
    <header class="header">
        <a href="#"><img class="heart-logo-image" src="../img/coeurlogo.png" alt="logo heart"></a>
        <a href="#"><img class="header-logo-avatar" src="../icons/icons8-purple-man-96.png" alt="logo avatar"></a>
        <a href="#"><img class="header-logo-courier" src="../icons/icons8-message-chat-100.png" alt="logo courier"></a>
    </header>
</div>

<div class="container">
    <div class="tile is-ancestor">
        <div class="tile is-4 is-vertical is-parent">
            <div id="tile" class="tile is-child ">
                <a href="#">
                    <img class="img_size" src="../img/backpic1.jpeg">
                    <span>Pseudo du monstre</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="block">
    <div class="container">
        <div class="tile">
            <article class="tile is-child notification is-info has-background-danger">
                <p class="subtitle">Level</p>
                <p class="subtitle">Descriptionnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn</p>
            </article>
        </div>
    </div>
</div>
<div class="block">
    <a href="#"><img class="thumb-down" src="../icons/down.png" alt="logo avatar"></a>
    <a href="#"><img class="thumb-up" src="../icons/icons8-zombie-hand-thumbs-up-64.png" alt="logo heart"></a>
</div>
</body>
</html>